
/* @form header
-------------------------------- */
.smart-forms .header-green {	
	background-color:#2ecc71;
	border-top:1px solid #67DA98;  
	border-bottom:5px solid #27ad60;
}

.smart-forms .header-lite{ border-top-color:#67DA98; }
.smart-forms .header-lite:before{ background-color:#2ecc71; }
.smart-forms .header-green h4{ color:#fff; }

/* @form tagline 
------------------------------------- */
.smart-forms .theme-green .tagline span{ color:#2ecc71; }
.smart-forms .theme-green .smart-link{ color:#2ecc71; }

/* @hover | focus  
----------------------------------- */
.smart-forms .theme-green .gui-input:hover,
.smart-forms .theme-green .gui-textarea:hover,
.smart-forms .theme-green .select > select:hover,
.smart-forms .theme-green .select-multiple select:hover, 
.smart-forms .theme-green .gui-input:hover ~ .input-hint,
.smart-forms .theme-green .file .gui-file:hover + .gui-input,
.smart-forms .theme-green .gui-textarea:hover ~ .input-hint{ border-color: #58d68d; }
.smart-forms .theme-green .gui-input:focus,
.smart-forms .theme-green .gui-textarea:focus,
.smart-forms .theme-green .select > select:focus,
.smart-forms .theme-green .select-multiple select:focus{ border-color: #2ecc71; color: #3C3C3C; }
.smart-forms .theme-green .gui-textarea:focus{  height: 120px; }
.smart-forms .theme-green .select > select:focus { z-index:10; z-index:20\9; }
.smart-forms .theme-green .gui-input:focus ~ .field-icon i,
.smart-forms .theme-green .gui-textarea:focus ~ .field-icon i{ color:#2ecc71; }
.smart-forms .theme-green .select-multiple select:focus, 
.smart-forms .theme-green .gui-input:focus ~ .input-hint,
.smart-forms .theme-green .gui-textarea:focus ~ .input-hint, 
.smart-forms .theme-green .file .gui-file:focus + .gui-input{ border-color: #2ecc71; }
.smart-forms .theme-green .select > select:focus + .arrow{ color:#2ecc71; }

/* @star rating 
-------------------------------------------- */
.smart-forms .theme-green .rating:hover .rating-star:hover,
.smart-forms .theme-green .rating:hover .rating-star:hover ~ .rating-star,
.smart-forms .theme-green .rating-input:checked ~ .rating-star { color: #2ecc71;	}
.smart-forms .theme-green .rating-star, 
.smart-forms .theme-green .rating:hover .rating-star {	color: #B5C1C7;	 }

/* @check + radio green 
--------------------------------------------- */
.smart-forms .option-green input:hover + .checkbox,  
.smart-forms .option-green input:hover + .radio{ border-color: #58d68d; }
.smart-forms .option-green input:checked + .checkbox, 
.smart-forms .option-green input:focus + .checkbox, 
.smart-forms .option-green input:checked + .radio, 
.smart-forms .option-green input:focus + .radio{ border-color: #2ECC71; }
.smart-forms .option-green input:checked + .radio:before, 
.smart-forms .option-green input:focus + .radio:before{  background: #2ECC71; }
.smart-forms .option-green input:checked + .checkbox:before, 
.smart-forms .option-green input:focus + .checkbox:before{ border-color: #2ECC71; }

/* @toggle-switch green 
------------------------------------------------- */
.smart-forms .switch-green > input:checked + .switch-label { background: #2ecc71; border-color: #2ecc71; }
.smart-forms .switch-green > input:checked + .switch-label:after { color:#2ecc71; }
.smart-forms .switch-green > input:checked:focus + .switch-label { background: #27ad60; border-color: #27ad60; }

/* Smart Options 
-------------------------------------------------------------- */
.smart-forms .option > input:checked + .smart-option { background:#2ecc71; }
.smart-forms .option > input:checked + .smart-option,
.smart-forms input:checked + .smart-checkbox .iconc:before,
.smart-forms .option > input:checked + .smart-option .iconc { border-color:#25A55B; }
.smart-forms input:checked + .smart-radio .iconc:before { background:#25A55B; }

/* Modern switch  
-------------------------------------------------------------- */
.smart-forms .modern-switch input:checked + .switch-toggle { background:#2ecc71; }
.smart-forms .modern-switch input:checked + .switch-toggle::before { background:#25A55B; }
.smart-forms .modern-ios input:checked + .switch-toggle::before { background: #fff; }
.smart-forms .modern-switch:active input:checked + .switch-toggle::before,
.smart-forms .modern-switch input:checked + .switch-toggle:active::before { 
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(46,204,113,0.2);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(46,204,113,0.2); 
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(46,204,113,0.2); 
	box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(46,204,113,0.2);  
}

/* @button green 
----------------------------------------------- */
.smart-forms .btn-green { background-color: #2ecc71; }
.smart-forms .btn-green:hover,
.smart-forms .btn-green:focus{ background-color: #58d68d; }
.smart-forms .btn-green:active{ background-color: #27ad60; }
.smart-forms .btn-green,
.smart-forms .btn-green:hover,
.smart-forms .btn-green:focus,
.smart-forms .btn-green:active{ color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08);  }

/* @datepicker 
------------------------------------------------- */
.ui-datepicker { border:5px solid #2ecc71; }
.ui-datepicker:before{
	border-color:transparent transparent #2ecc71 transparent;  
	border-color:rgba(255,255,255,0) rgba(255,255,255,0) #2ecc71 rgba(255,255,255,0); 
}
.ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-datepicker-header { background:#2ecc71; }
.ui-monthpicker .ui-datepicker-today a, 
.ui-monthpicker .ui-datepicker-today a:hover,
.ui-datepicker .ui-datepicker-current-day a{
	 background:#2ecc71!important;
}

/* @price-box 
------------------------------------------------- */
.smart-forms .theme-green .selected-box h4{ color:#2ecc71; }
.smart-forms .ribbon-inner{ background:#2ecc71; }
.smart-forms .ribbon-inner:before,
.smart-forms .ribbon-inner:after{ border-top-color:#27ad60; }