
/* @form header 
-------------------------------------------- */
.smart-forms .header-purple {	
	background-color:#9B59B6;
	border-top:1px solid #C6A0D6;  
	border-bottom:5px solid #8E44AD;
}

.smart-forms .header-lite{ border-top-color:#C6A0D6; }
.smart-forms .header-lite:before{ background-color:#9B59B6; }
.smart-forms .header-purple h4{ color:#fff; }

/* @form tagline 
--------------------------------------------------- */
.smart-forms .theme-purple .tagline span{ color:#9B59B6; }
.smart-forms .theme-purple .smart-link{ color:#9B59B6; }

/* @hover | focus  
----------------------------------------------------- */
.smart-forms .theme-purple .gui-input:hover,
.smart-forms .theme-purple .gui-textarea:hover,
.smart-forms .theme-purple .select > select:hover,
.smart-forms .theme-purple .select-multiple select:hover, 
.smart-forms .theme-purple .gui-input:hover ~ .input-hint,
.smart-forms .theme-purple .file .gui-file:hover + .gui-input,
.smart-forms .theme-purple .gui-textarea:hover ~ .input-hint{ border-color: #a66bbe; }
.smart-forms .theme-purple .gui-input:focus,
.smart-forms .theme-purple .gui-textarea:focus,
.smart-forms .theme-purple .select > select:focus,
.smart-forms .theme-purple .select-multiple select:focus{ border-color: #9B59B6; color: #3C3C3C; }
.smart-forms .theme-purple .gui-textarea:focus{  height: 120px; }
.smart-forms .theme-purple .select > select:focus { z-index:10; z-index:20\9; }
.smart-forms .theme-purple .gui-input:focus ~ .field-icon i,
.smart-forms .theme-purple .gui-textarea:focus ~ .field-icon i{ color:#9B59B6; }
.smart-forms .theme-purple .select-multiple select:focus, 
.smart-forms .theme-purple .gui-input:focus ~ .input-hint,
.smart-forms .theme-purple .gui-textarea:focus ~ .input-hint, 
.smart-forms .theme-purple .file .gui-file:focus + .gui-input{ border-color: #9B59B6; }
.smart-forms .theme-purple .select > select:focus + .arrow{ color:#9B59B6; }

/* @star rating widget 
---------------------------------------------------- */
.smart-forms .theme-purple .rating:hover .rating-star:hover,
.smart-forms .theme-purple .rating:hover .rating-star:hover ~ .rating-star,
.smart-forms .theme-purple .rating-input:checked ~ .rating-star { color: #9B59B6;	}
.smart-forms .theme-purple .rating-star, 
.smart-forms .theme-purple .rating:hover .rating-star {	color: #B5C1C7;	 }

/* @check + radio 
------------------------------------------------------- */
.smart-forms .option-purple input:hover + .checkbox,  
.smart-forms .option-purple input:hover + .radio{ border-color: #a66bbe; }
.smart-forms .option-purple input:checked + .checkbox, 
.smart-forms .option-purple input:focus + .checkbox, 
.smart-forms .option-purple input:checked + .radio, 
.smart-forms .option-purple input:focus + .radio{ border-color: #9B59B6; }
.smart-forms .option-purple input:checked + .radio:before, 
.smart-forms .option-purple input:focus + .radio:before{  background: #9B59B6; }
.smart-forms .option-purple input:checked + .checkbox:before, 
.smart-forms .option-purple input:focus + .checkbox:before{ border-color: #9B59B6; }

/* @toggle-switch 
------------------------------------------------------ */
.smart-forms .switch-purple > input:checked + .switch-label { background: #9B59B6; border-color: #9B59B6; }
.smart-forms .switch-purple > input:checked + .switch-label:after { color:#9B59B6; }
.smart-forms .switch-purple > input:checked:focus + .switch-label { background: #8E44AD; border-color: #8E44AD; }

/* Smart Options 
-------------------------------------------------------------- */
.smart-forms .option > input:checked + .smart-option { background: #9B59B6; }
.smart-forms .option > input:checked + .smart-option,
.smart-forms input:checked + .smart-checkbox .iconc:before,
.smart-forms .option > input:checked + .smart-option .iconc { border-color:#7A3A96; }
.smart-forms input:checked + .smart-radio .iconc:before { background:#7A3A96; }

/* Modern switch  
-------------------------------------------------------------- */
.smart-forms .modern-switch input:checked + .switch-toggle { background: #9B59B6; }
.smart-forms .modern-switch input:checked + .switch-toggle::before { background:#7A3A96; }
.smart-forms .modern-ios input:checked + .switch-toggle::before { background: #fff; }
.smart-forms .modern-switch:active input:checked + .switch-toggle::before,
.smart-forms .modern-switch input:checked + .switch-toggle:active::before { 
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(155,89,182,0.2);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(155,89,182,0.2); 
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(155,89,182,0.2); 
	box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(155,89,182,0.2);  
}

/* @button 
------------------------------------------------------ */
.smart-forms .btn-purple{background-color: #9B59B6;}
.smart-forms .btn-purple:hover, 
.smart-forms .btn-purple:focus{ background-color: #a66bbe; }
.smart-forms .btn-purple:active{background-color: #8E44AD;}
.smart-forms .btn-purple,
.smart-forms .btn-purple:hover, 
.smart-forms .btn-purple:focus,
.smart-forms .btn-purple:active{ color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08);}

/* @datepicker
------------------------------------------------------ */
.ui-datepicker { border:5px solid #9B59B6; }
.ui-datepicker:before{
	border-color:transparent transparent #9B59B6 transparent;   
	border-color:rgba(255,255,255,0) rgba(255,255,255,0) #9B59B6 rgba(255,255,255,0); 
}
.ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-datepicker-header { background:#9B59B6; }
.ui-monthpicker .ui-datepicker-today a, 
.ui-monthpicker .ui-datepicker-today a:hover,
.ui-datepicker .ui-datepicker-current-day a{
	background:#9B59B6!important;
}

/* @price-box 
--------------------------------------------------------- */
.smart-forms .theme-purple .selected-box h4{ color:#9B59B6; }
.smart-forms .ribbon-inner{ background:#9B59B6; }
.smart-forms .ribbon-inner:before,
.smart-forms .ribbon-inner:after{ border-top-color:#8E44AD; }