
/* @form header 
-----------------------------------*/
.smart-forms .header-yellow {	
	background-color:#ed9c28;
	border-top:1px solid #F3BA6D;  
	border-bottom:5px solid #d58512;
}

.smart-forms .header-lite{ border-top-color:#F3BA6D; }
.smart-forms .header-lite:before{ background-color:#ed9c28;   }
.smart-forms .header-yellow h4{ color:#fff; }

/* @form tagline */
.smart-forms .theme-yellow .tagline span{ color:#ed9c28; }
.smart-forms .theme-yellow .smart-link{ color:#ed9c28; }

/* @hover | focus  
--------------------------------------------------- */
.smart-forms .theme-yellow .gui-input:hover,
.smart-forms .theme-yellow .gui-textarea:hover,
.smart-forms .theme-yellow .select > select:hover,
.smart-forms .theme-yellow .select-multiple select:hover, 
.smart-forms .theme-yellow .gui-input:hover ~ .input-hint,
.smart-forms .theme-yellow .file .gui-file:hover + .gui-input,
.smart-forms .theme-yellow .gui-textarea:hover ~ .input-hint{ border-color: #f0ad4e; }
.smart-forms .theme-yellow .gui-input:focus,
.smart-forms .theme-yellow .gui-textarea:focus,
.smart-forms .theme-yellow .select > select:focus,
.smart-forms .theme-yellow .select-multiple select:focus{ border-color: #ed9c28; color: #3C3C3C; }
.smart-forms .theme-yellow .gui-textarea:focus{  height: 120px; }
.smart-forms .theme-yellow .select > select:focus { z-index:10; z-index:20\9; }
.smart-forms .theme-yellow .gui-input:focus ~ .field-icon i,
.smart-forms .theme-yellow .gui-textarea:focus ~ .field-icon i{ color:#ed9c28; }
.smart-forms .theme-yellow .select-multiple select:focus, 
.smart-forms .theme-yellow .gui-input:focus ~ .input-hint,
.smart-forms .theme-yellow .gui-textarea:focus ~ .input-hint, 
.smart-forms .theme-yellow .file .gui-file:focus + .gui-input{ border-color: #ed9c28; }
.smart-forms .theme-yellow .select > select:focus + .arrow{ color:#ed9c28; }

/* @star rating widget 
----------------------------------------------------------------- */
.smart-forms .theme-yellow .rating:hover .rating-star:hover,
.smart-forms .theme-yellow .rating:hover .rating-star:hover ~ .rating-star,
.smart-forms .theme-yellow .rating-input:checked ~ .rating-star { color: #FFB400;	}
.smart-forms .theme-yellow .rating-star, 
.smart-forms .theme-yellow .rating:hover .rating-star {	color: #B5C1C7;	 }

/* @check + radio yellow 
--------------------------------------------------- */
.smart-forms .option-yellow input:hover + .checkbox,  
.smart-forms .option-yellow input:hover + .radio{ border-color: #f0ad4e; }
.smart-forms .option-yellow input:checked + .checkbox, 
.smart-forms .option-yellow input:focus + .checkbox, 
.smart-forms .option-yellow input:checked + .radio, 
.smart-forms .option-yellow input:focus + .radio{ border-color: #ed9c28; }
.smart-forms .option-yellow input:checked + .radio:before, 
.smart-forms .option-yellow input:focus + .radio:before{  background: #ed9c28; }
.smart-forms .option-yellow input:checked + .checkbox:before, 
.smart-forms .option-yellow input:focus + .checkbox:before{ border-color: #ed9c28; }

/* @toggle-switch yellow 
------------------------------------------------------ */
.smart-forms .switch-yellow > input:checked + .switch-label { background: #ed9c28; border-color: #ed9c28; }
.smart-forms .switch-yellow > input:checked + .switch-label:after { color:#ed9c28; }
.smart-forms .switch-yellow > input:checked:focus + .switch-label { background: #d58512; border-color: #d58512; }

/* Smart Options 
-------------------------------------------------------------- */
.smart-forms .option > input:checked + .smart-option { background:#ed9c28; }
.smart-forms .option > input:checked + .smart-option,
.smart-forms input:checked + .smart-checkbox .iconc:before,
.smart-forms .option > input:checked + .smart-option .iconc { border-color:#CE8311; }
.smart-forms input:checked + .smart-radio .iconc:before { background:#CE8311; }

/* Modern switch  
-------------------------------------------------------------- */
.smart-forms .modern-switch input:checked + .switch-toggle { background:#ed9c28; }
.smart-forms .modern-switch input:checked + .switch-toggle::before { background:#CE8311;  }
.smart-forms .modern-ios input:checked + .switch-toggle::before { background: #fff; }
.smart-forms .modern-switch:active input:checked + .switch-toggle::before,
.smart-forms .modern-switch input:checked + .switch-toggle:active::before { 
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(237,156,40,0.2);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(237,156,40,0.2); 
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(237,156,40,0.2); 
	box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(237,156,40,0.2);  
}

/* @button yellow 
---------------------------------------------------- */
.smart-forms .btn-yellow { background-color:#ed9c28;}
.smart-forms .btn-yellow:hover, 
.smart-forms .btn-yellow:focus{ background-color:#f0ad4e;  }
.smart-forms .btn-yellow:active{ background-color:#d58512; }
.smart-forms .btn-yellow,
.smart-forms .btn-yellow:hover, 
.smart-forms .btn-yellow:focus,
.smart-forms .btn-yellow:active{ color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08); }

/* @datepicker overides 
------------------------------------------------- */
.ui-datepicker { border:5px solid #ed9c28; }
.ui-datepicker:before{ 
	border-color:transparent transparent #ed9c28 transparent;
	border-color:rgba(255,255,255,0) rgba(255,255,255,0) #ed9c28 rgba(255,255,255,0); 
}
.ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-datepicker-header { background:#ed9c28; }
.ui-monthpicker .ui-datepicker-today a, 
.ui-monthpicker .ui-datepicker-today a:hover,
.ui-datepicker .ui-datepicker-current-day a{
	background:#ed9c28!important;
}

/* @price-box 
----------------------------------------------- */
.smart-forms .theme-yellow .selected-box h4{ color:#ed9c28; }
.smart-forms .ribbon-inner{ background: #ed9c28; }
.smart-forms .ribbon-inner:before,
.smart-forms .ribbon-inner:after{ border-top-color:#d58512; }