/*
========================================================= 
SHOW HIDE PASSWORD PLUGIN
https://cloudfour.github.io/hideShowPassword/
========================================================= 
*/

/* Remove MS IE behavior
---------------------------------------------------- */
::-ms-reveal,
::-ms-clear { display: none !important; }

/* Show-hide image  
---------------------------------------- */
.hideShowPassword-toggle {
	background-color: transparent;
	background-image: url('../css-img/wink.png');
	background-image: url('../css-img/wink.svg'), none;
	background-position: 0 center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	border-radius: 0.25em;
	cursor: pointer;
	font-size: 100%;
	height: 44px;
	margin: 0;
	max-height: 100%;
	padding: 0;
	overflow: 'hidden';
	text-indent: -999em;
	width: 46px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.hideShowPassword-toggle-hide { background-position: -44px center; }
.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
	border-color: #0088cc;
	outline: transparent;
}

/* Custom show-hide toggle 
-------------------------------------- */
.my-toggle {
	background: transparent;
	display:inline-block;
	border: 0;
	border-radius: 0.25em;
	color: #888;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	margin-right:10px;
	padding:10px;
	text-transform: uppercase;
	-moz-appearance: none;
	-webkit-appearance: none;
	right:7px!important;
	height:30px;
	line-height:0;
}

.my-toggle:hover,
.my-toggle:focus {
	background-color: #eee;
	outline: transparent;
	color: #555;
}

.hideShowPassword-toggle,
.my-toggle { z-index: 3; }